@model ContatosVirtual.Models.Usuario
@{
    var usuarioLogado = (int)Session["id"];
    Layout = null;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        </div>
        <form action="/Usuarios/Desativar" method="post">
            <div class="modal-body">Você deseja mesmo desativar esse usuário?</div>
            <div class="modal-footer">
                <input type="hidden" name="id" id="inputId" />
                <input type="hidden" name="usuario.UsuarioEdicaoId" id="usuarioEdicaoId.Usuario" value="@usuarioLogado" />
                <input class="btn btn-danger" type="submit" value="Desativar" />
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>