<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Content/img/icone.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Content/img/icone.png" type="image/x-icon" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/css/noty.css" rel="stylesheet">
</head>
<body class="bg-dark2">
    @RenderBody()

    <script src="~/Content/vendor/jquery/jquery.min.js" charset="ISO-8859-1"></script>
    <script src="~/Content/vendor/popper/popper.min.js" charset="ISO-8859-1"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js" charset="ISO-8859-1"></script>
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js" charset="ISO-8859-1"></script>
    <script src="~/Content/vendor/jquery/jquery.min.js" charset="ISO-8859-1"></script>
    <script src="~/Content/vendor/popper/popper.min.js" charset="ISO-8859-1"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js" charset="ISO-8859-1"></script>
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js" charset="ISO-8859-1"></script>
    <script src="~/Content/lib/noty.js" type="text/javascript" charset="ISO-8859-1"></script>
    <script src="~/Content/js/acaoLogin.js" charset="ISO-8859-1"></script>
    <script src="~/Content/js/usuarios.js" charset="ISO-8859-1"></script>
</body>
</html>