@{
    Layout = null;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sair!</h5>
        </div>
        <div class="modal-body">Você deseja mesmo sair dessa seção?</div>
        <div class="modal-footer">
            <form action="/Login/Sair" method="post">
                <input class="btn btn-primary" type="submit" value="Sair" />
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Não</button>
            </form>
        </div>
    </div>
</div>