@{
    Layout = null;
}
<title>Contatos Virtual - Acesso Negado</title>
<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<div class="container-fluid">
    <img ali class="pags" src="~/Content/img/acessoNegado.jpg" />
</div>