@{
    Layout = null;
}
<title>Contatos Virtual - Página não Encontrada</title>
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<div class="container-fluid">
    <img ali class="pags" src="~/Content/img/500.png"/>
</div>
